#root {
  max-width: 775px;
  margin: 0 auto;
  padding: 2rem;
}

.custom-padding-24 {padding: 24px !important;}

@media screen and (max-width: 600px) {
  #root,body,html {
    background-color: white;
    padding: 0;
  }
  #root div {
    margin: 0;
    padding: 0;
  }
  .shadow-md {
    box-shadow: initial;
  }

  .TextPreset1 {
    font-size: 2.2em;
  }
    
}

